
@font-face {
        font-family: 'avenirnext bold';
        src: url('../fonts/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirNext-Bold.otf')  format('opentype'),
	     url('../fonts/AvenirNext-Bold.woff') format('woff'), url('../fonts/AvenirNext-Bold.ttf')  format('truetype'), url('../fonts/AvenirNext-Bold.svg#AvenirNext-Bold') format('svg');
		  font-weight: normal;
		  font-style: normal;
}
@font-face {
     font-family: 'avenirnext demibold';
     src: url('../fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirNext-DemiBold.otf')  format('opentype'),
	 url('../fonts/AvenirNext-DemiBold.woff') format('woff'), url('../fonts/AvenirNext-DemiBold.ttf')  format('truetype'), url('../fonts/AvenirNext-DemiBold.svg#AvenirNext-DemiBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
     font-family: 'avenirnext regular';
        src: url('../fonts/avenir-next-regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/avenir-next-regular.otf')  format('opentype'),
	     url('../fonts/avenir-next-regular.woff') format('woff'), url('../fonts/avenir-next-regular.ttf')  format('truetype'), url('../fonts/avenir-next-regular.svg#avenir-next-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'avenirnext italic';
    src: url(../fonts/avenir-next-italic.woff);
}


@font-face {
    font-family: 'avenirnext medium';
    src: url(../fonts/avenirnextmedium.woff);
}

@font-face {
    font-family: 'latosemibold';
    src: url(../fonts/lato-semibold-webfont.eot);
    src: url(../fonts/lato-semibold-webfont.eot?#iefix) format("embedded-opentype"),
	url(../fonts/lato-semibold-webfont.woff2) format("woff2"),
	url(../fonts/lato-semibold-webfont.woff) format("woff"),
	url(../fonts/lato-semibold-webfont.ttf) format("truetype"),
	url(../fonts/lato-semibold-webfont.svg#latosemibold) format("svg");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'lato regular';
    src: url(../fonts/Lato-Regular.eot);
    src: url(../fonts/Lato-Regular.eot?#iefix) format("embedded-opentype"),
	url(../fonts/Lato-Regular.woff2) format("woff2"),
	url(../fonts/Lato-Regular.woff) format("woff"),
	url(../fonts/Lato-Regular.ttf) format("truetype"),
	url(../fonts/Lato-Regular.svg#latosemibold) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'lato bold';
  src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.ttf')  format('truetype'), url('../fonts/Lato-Bold.svg#../fonts/Lato-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'myriad pro';
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Regular.otf')  format('opentype'),
	     url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf')  format('truetype'), url('../fonts/MyriadPro-Regular.svg#../fonts/MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,body{
    margin: 0;
    padding: 0;
	-webkit-font-smoothing: antialiased;

}

a,a:hover,a:focus {
    outline: 0;
	text-decoration:none;
}
input,select{
outline:0;
}
/* br{display:none;} */
.regular {
    font-family: 'avenirnext regular';
}

.bold {
    font-family: 'avenirnext bold';
}

.medium {
    font-family: 'avenirnext medium';
}

.semibold {
    font-family: 'avenirnext demibold';
}

#navbar.navbar.container {
    margin-top: 20px;
    margin-bottom: 0;
}

#navbar.navbar-default .navbar-nav > li > a {
    font-family: 'avenirnext demibold';
    color: #858585;
    font-size: 1em;
    letter-spacing: -1px;
}

#navbar.navbar-default .navbar-nav > .active > a,#navbar.navbar-default .navbar-nav > .active > a:hover,#navbar.navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}

#navbar.navbar-default {
    background-color: transparent;
    border: 0;
}

#navbar .navbar-header {
    position: absolute;
    right: 0;
    left: 0;
}

#navbar .nav > li > a {
    position: relative;
    display: block;
    padding: 5px 10px 6px;
}

#navbar .nav > li.open > a {
    color: #036733;
}

#navbar .nav > li > a.active-trail {
    color: #036733;
}

 .dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #036733 !important;
    font-family: 'avenirnext medium';
    text-align: left;
}

#navbar .navbar-nav > li > .dropdown-menu {
    margin-top: 6px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
#user-login .form-submit,#user-pass .form-submit {
    background: #036733;
    color: #fff;
    font-weight: 700;
}

 #navbar .dropdown-menu > li > a {
    font-family: 'avenirnext medium';
    text-align: left;
    border-bottom: 1px solid #ccc;
} 

 #navbar .dropdown-menu > li {
    padding: 0 5px;
}
 
 #navbar .dropdown-menu > li:last-child > a {
    border-bottom: 0;
}
 
 #navbar .dropdown-menu > .active > a,#navbar .dropdown-menu > .active > a:hover,#navbar .dropdown-menu > .active > a:focus {
    background-color: #036733;
    font-family: 'avenirnext regular';
} 

.navbar-default .navbar-nav > .open > a,.navbar-default .navbar-nav > .open > a:hover,.navbar-default .navbar-nav > .open > a:focus {
    background: #fff;
    font-family: 'avenirnext regular';
}

#navbar .nav > li {
    border-right: 2px solid #a3a3a3;
}

#navbar .nav > li:last-child {
    border-right: 0;
}

.m-auto {
    margin: 0 auto;
    float: none !important;
}

#navbar.navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin-top: 12px;
}

#navbar.navbar .navbar-collapse {
    text-align: center;
}


#navbar ul.nav li.dropdown ul.dropdown-menu {
  margin-top: 0;
}
.offer-logo{padding-left:15px;}
 
.main-container .page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #EEE;
}
#language_switcher{
background:#ECECEC;
}
.language-switcher-locale-url{width:350px;float:right;text-align:right;margin:5px 0 5px 0;}
.language-switcher-locale-url li{display:inline-block;padding:0 10px 0 10px;}
.language-switcher-locale-url li a{
font-family:'avenirnext medium';
font-weight:bold;
color:#858585;
}
.title-banner {
    position: relative;
}
.customer_care{margin-top:5px;margin-bottom:5px;display:table;height:30px;}
.customer_care p{display:table-cell;vertical-align:middle;}
.social_media{margin-bottom:5px;margin-top:5px;}
.social_media img{width:30px!important;height:auto!important;}
#header_banner img {
    margin: 0 auto;
    float: none;
    display: block;
    z-index: -1;
    width:auto;
    position: relative;
	
	
	 -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#header_banner {
    max-width:1920px;
    max-height:605px;
    overflow: hidden;
    position: relative;
    z-index: -1;
	margin: 0 auto;
	
}

.top-links .tp-lnk {
    text-align: right;
    background: #8CC63E;
}

.top-links .md-lnk {
    background: #009345;
}

.top-links a {
    display: block;
    width: 50%;
    float: left;
    padding: 3px 50px;
    color: #fff;
    font-size:22px;
    font-family: 'avenirnext demibold';
    cursor: pointer;
}

.top-links {
    display: block;
    width: 100%;
    float: left;
    position: relative;
}

.section-bonus .field-items {
    font-family: 'avenirnext demibold';
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
/*  line-height:1.8em; */
}

.section-bonus .field-items span {
    font-family: 'avenirnext regular';
    font-size: 32px;
    font-weight: 400;
    color: #fff;
}

.section-bonus {
    background: #006634;
    display: block;
    color: #E2ED25;
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
    width: 100%;
    float: left;
}

.section-bonus .find-btn {
    background: #fff;
    border-radius: 13px;
    padding: 3px 45px;
    font-family: 'avenirnext medium';
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    color: #5D5956;
    cursor: pointer;
}

.section-search {
    background: url(../images/bg-search.jpg) no-repeat center center / cover;
    width: 100%;
    height: 230px;
    display: block;
    float: left;
    text-align: center;
}
#delight_payg_rates_section1_block  .section-search {
    background: url(../images/bg-search.jpg) no-repeat center center / cover;
    width: 100%;
    height: 230px;
    display: block;
    float: left;
    text-align: center;
}

.section-search h1 {
    color: #006138;
    margin-top: 30px;
	font-size:36px;
}

#delight_payg_rates_section1_block  .section-search form[name=frm_compare_rates] input {
   width: 545px;
    padding: 5px 30px;
    height: 40px;
    font-size: 20px;
    border: 0 none;
    text-align: center;
    border-radius: 15px;
    font-family: 'myriad pro';
	margin-top:10px;
}
#delight_payg_rates_section1_block  .section-search form[name=frm_compare_rates] {
    position: relative;
	display:inline-block;
}

#delight_payg_rates_section1_block  .section-search form[name=frm_compare_rates]:after {
    content: "";
    width: 0;
    height: 0;
    right: 30px;
    top: 21px;
    position: absolute;
    border-right: 11px solid #c5c5c4;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
	
}

#delight_payg_rates_section1_block  .section-search form[name=frm_compare_rates]:before {
    content: url('../images/plus-icon.png');
    width: 0;
    height: 0;
    left: 20px;
    top: 15px;
    position: absolute;
}
.section-search-result{
float:left;
padding-top:10px;
width:100%;
height:430px;
background:url(../images/bg-search-result.png) center 4% no-repeat;
}
.section-rate-compare{
float:left;
width:100%;
padding-bottom:75px;
background:url(../images/bg-compare.png) no-repeat center bottom;
}
.section-rate-compare form[name=frm_compare_rates]{
color:#2d2e82;
font-family: 'avenirnext medium';
font-size:32px;
}
.section-rate-compare form input[name=txt_country]{
background:#fff url('../images/plus-small.png') no-repeat 12px center;
width: 490px;
padding: 5px 30px;
height: 40px;
font-size: 20px;
border:#868686 3px solid;
text-align: center;
border-radius: 15px;
font-family: "myriad pro";
outline:0;
margin-top:10px;

}

table.table1 {
    font-family: 'avenirnext medium';
    font-size: 16px;
    line-height: 1.4em;
    font-style: normal;
   border-collapse: separate; 
   /* margin-top:40px; */
   margin-bottom:30px;
   border: 1px solid #ccc;
	border-top: 0;
	border-left: 0;
	border-right:0;
	border-bottom:0;
	width:100%;
	margin-top: 65px;
    float: left;
    width: 100%;
	background:#fff;
	
}
table.table3_mobile {
    font-family: 'avenirnext medium';
    font-size: 16px;
    line-height: 1.4em;
    font-style: normal;
   border-collapse: separate; 
   /* margin-top:40px; */
   margin-bottom:30px;
   border: 1px solid #ccc;
	border-top: 0;
	border-left: 0;
	border-right:0;
	border-bottom:0;
	width:100%;
	margin-top: 65px;
    float: left;
    width: 100%;
	max-width:768px;
	background:#fff;
	text-align:center;
	
}
.table3_mobile thead th {
    color: #006732;
    border-top: 2px solid #CCC;
    border-bottom: 1px solid #CCC; 
    padding: 10px;
    background: #A8CD4C none repeat scroll 0% 0%;
    font-family: "avenirnext medium";
    font-weight: normal;
    font-size: 20px;
	text-align:center;
    box-shadow: 0px 0px 0px 5px #FFF inset;
	border-left:0;
	border-right:0;
}
.table3_mobile thead th:first-child{
    background: transparent;
    border: medium none;
}
.table3_mobile thead th:nth-child(2){
   border-left: 2px solid #ccc;
}
.table3_mobile thead th:last-child{
   border-right: 2px solid #ccc;
}
.table3_mobile tbody tr:first-child th {
    background: transparent none repeat scroll 0% 0%;
    border: medium none;
	padding-bottom:10px;	
}

.table3_mobile  tbody tr:last-child td {
    border-bottom: 2px solid #CCC;
}
.table3_mobile tbody tr:last-child th {
    border-bottom: 2px solid #CCC;
}
.table3_mobile tbody tr:nth-child(2)  th {
    border-top: 2px solid #CCC;
}
.table3_mobile  tbody  tr:first-child  td {
    font-size:20px;
    font-family: "avenirnext medium";
    background: #DCDA00 none repeat scroll 0% 0%;
    color: #006732;
    box-shadow: 0px 10px 0px 0px #FFF inset, 0px -10px 0px 0px #FFF inset;
    padding: 0px;
}
.table3_mobile tbody tr:first-child td:nth-child(2) {
    border-left: 0px none;
}
.table3_mobile tbody tr:first-child td:last-child {
    border-right: 0px none;
}
.table3_mobile tbody tr td:last-child {
    border-right: 2px solid #CCC;
}
.table3_mobile tbody td {
    padding: 10px;
    text-align: center;
    border: 1px solid #CCC;
    color: #1C1C1B;

    font-family: "avenirnext medium";
}
.table3_mobile tbody th {
    color: #1C1C1B;
    text-align:center;
    border-left: 2px solid #CCC;
    border-right: 1px solid #CCC;
    padding:10px;
    background: #EAEAEA none repeat scroll 0% 0%;
    font-family: "avenirnext medium";
    font-weight: normal;
    font-size: 13px;
    box-shadow: 0px 0px 0px 5px #FFF inset;
	height: 55px;
	width:100px;
	border-top:0;
	border-bottom:0
}
.page-node-13 table.table1 {
    font-family: 'avenirnext medium';
    font-size: 16px;
    line-height: 1.4em;
    font-style: normal;
   border-collapse: separate; 
   /* margin-top:40px; */
   margin-bottom:30px;
   border: 1px solid #ccc;
	border-top: 0;
	border-left: 0;
	border-right:0;
	border-bottom:0;
	width:100%;
	margin-top: 65px;
    float: left;
    width: 100%;
	background:#fff;
	padding: 0 55px;
}

.page-node-15 table.table1 {
   padding-right:35px;
   margin-top: 35px;
}
.page-node-15 .table1 tbody td:nth-child(2) {
    padding: 0px 20px;
}
#irateres  table.table1 {
   padding-right:60px;

}
#irateres .table1 tbody td:nth-child(2) {
    font-size: 18px;
    font-family: "avenirnext medium";
    background: #DCDA00 none repeat scroll 0% 0%;
    color: #006732;
    box-shadow: 11px 0px 0px 0px #FFF inset, -11px 0px 0px 0px #FFF inset;
    padding: 0px 15px;
} 
.table1 thead th:nth-child(-n+2) {
    background: transparent;
    border: medium none;
}
.table1 thead th:nth-child(2) {
    border-right:1px solid #ccc;
	position:relative;
	width:100px;
}
.table1 thead th:nth-child(2) img{
   	    position: absolute;
    bottom: 5px;
    left: 12px;

}

.table1 thead th {
    padding:15px 20px 15px 20px;
    color: #1c1c1b;
    border:2px solid #ccc;
	font-weight:normal;
	font-size: 13px;
	background:#eaeaea;
	border-bottom:0;
 

}
.table1 thead th:nth-child(3){box-shadow:0px 2px 0px 7px #FFF inset,0px -2px 0px 7px #FFF inset!important;border-right:0;border-left:1px solid #ccc;}
.table1 thead th:last-child{box-shadow: 0px 2px 0px 7px #FFF inset,0px -2px 0px 7px #FFF inset!important;border-right:2px #ccc solid !important}

.table1 thead th:nth-child(n+4) {
    box-shadow:0px 2px 0px 7px #FFF inset,0px -2px 0px 7px #FFF inset;
	border-right:0;
	border-left:0;
}
.table1 tbody tr:first-child th {
border-top:2px solid #ccc;
}

.table1 tbody td:nth-child(2) {
font-size:18px;
font-family: 'avenirnext medium';
 background:#dcda00;
 color: #006732;
 box-shadow:11px 0px 0px 0px #FFF inset, -11px 0px 0px 0px #FFF inset;
 padding:0 35px 0 35px;
}
.table1 tbody tr:first-child td:nth-child(2) {
border-top:0;
}
.table1 tbody tr:last-child td:nth-child(2) {
border-bottom:0;
}
.table1 tbody th {
    color: #006732;
	border-left:2px solid #ccc;
	border-right:1px solid #ccc;
    padding: 0px 10px 0px 40px;
    background:#a8cd4c;
	font-family: 'avenirnext medium';
	font-weight:normal;
	font-size:20px;
	box-shadow:0px 0px 0px 5px #fff inset;
}
.table1 tbody td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    color: #1c1c1b;
  	font-family: 'avenirnext medium';
}
.table1 tbody tr:last-child td {
border-bottom:2px #ccc solid;
}.table1 tbody tr:last-child th {
border-bottom:2px #ccc solid;
}
.table1 tbody tr:first-child td {
  border-top:2px solid #ccc;
}
.table1 tbody tr td:last-child{
  border-right:2px solid #ccc;
}
.page-node-15 .table1 tbody th {
    color: #006732;
	border-left:2px solid #ccc;
	border-right:1px solid #ccc;
    padding: 0px 10px 0 40px;
    background:#a8cd4c;
	font-family: 'avenirnext medium';
	font-weight:normal;
	font-size:20px;
	box-shadow:0px 0px 0px 5px #fff inset;
}

table.table2 {
    font-family: 'avenirnext medium';
    font-size: 16px;
    line-height:normal;
    font-style: normal;
   border-collapse: separate; 
   /* margin-top:40px; */
   margin-bottom:30px;
   border: 1px solid #ccc;
	border-top: 0;
	border-left: 0;
	border-bottom:0;
	width:100%;
	margin-top: 65px;
    float: left;
    width: 100%;
}

.table2 tbody tr:first-child th {
    border-top: 2px solid #CCC;
}
.table2 tbody th {
    color: #006732;
    border-left: 2px solid #CCC;
    border-right: 1px solid #CCC;
    background: #A8CD4C none repeat scroll 0% 0%;
    font-family: "avenirnext medium";
    font-weight: normal;
    font-size: 20px;
    box-shadow: 0px 0px 0px 5px #FFF inset;
    padding: 10px 15px;
	text-align:center;
}
.table2 tbody td {
    padding: 10px;
    text-align: center;
    border: 1px solid #CCC;
    color: #1C1C1B;
    font-family: "avenirnext medium";
}
.table2 tbody tr:last-child td {
    border-bottom: 2px solid #CCC;
}
.table2 tbody tr td:first-child {
    border-left: 2px solid #CCC;
}

.page-node-13 .header-bar p{
display: inline-block;
font-size: 28px;
margin-left:16%;
padding: 3px 0px 3px 0px;
}
.header-bar p{
display: inline-block;
font-size: 28px;
margin-left:12%;
padding: 3px 0px 3px 0px;
}
#header-bar-flag .header-bar p {
    display: block;
    font-size: 28px;
    margin-left: 12%;
    padding: 3px 0px;
    text-align: center;
    text-indent: 148px;
}
.page-node-54 #header-bar-flag .header-bar p {
    display: block;
    font-size: 28px;
    margin-left: -4%;
    padding: 3px 0px;
    text-align: center;
    text-indent: 148px;
}
#header-bar-flag .header-bar .container:after{
   background:transparent none;
}
#delight_payg_rates_section3_block .header-bar p{
display: inline-block;
font-size: 28px;
margin-left:14%;
padding: 3px 0px 3px 0px;
font-family:"avenirnext medium";
}
.header-bar img{
position:absolute;
left: 30px;
top: -30px;
width:105px;
border-radius:25px;
border:5px solid #048d35; 
}
.page-node-13 .header-bar img{
position:absolute;
left: 85px;
top: -22px;
}
.header-bar {
background:rgba(145, 191, 30, 0.7);
color:#1e1e1e;
font-family: 'avenirnext medium';
width:100%;
margin-top:60px;
float:left;
position:relative;

}
.header-bar.green-light {
background:rgba(145, 191, 30, 0.7) 

}

.header-bar .container:after{
content:"";
position:absolute;
top:-30px;
left:0;
z-index:-1;
background:url(../images/bg-search-result.png) center right no-repeat;
 height:130px;
 width:100%;
/*  margin:0 15px 0px 15px; */
border:15px solid transparent;
border-top:0;
border-bottom:0;
}
.page-node-13 .section-rate-compare .header-bar .container:after{
content:"";
position:absolute;
top:-30px;
left:0;
z-index:-1;
background:transparent none;
 height:130px;
 width:100%;
border:15px solid transparent;
border-top:0;
border-bottom:0;
}
.header-bar.green-mdm img {
    position: absolute;
    left: 30px;
    top: -34px;
    width:auto;
    border-radius: 0px;
    border: 5px solid #048D35;
	border:0;
}
.page-node-54 .header-bar img {
    position: absolute;
    left: 30px;
    top: 0px;
    width: 105px;
    border-radius: 0px;
    border:0;
}
.page-node-15 .header-bar .container:after{
content:"";
position:absolute;
top:-30px;
left:0;
z-index:-1;
background:transparent;

}
.ui-autocomplete{
max-height:500px;
overflow-y:scroll;
overflow-x:hidden;
}

.header-bar.green-dark {
background:rgb(2, 104, 56);
color:#fff;
}
.header-bar.green-mdm {
background:#60906E;
color:#fff;
}
 .page-node-52 .header-bar.green-mdm {
background:#60906E;
color:#fff;
margin-top: 20px;
}

.header-bar.blue-light{
background:rgba(8, 159, 152, 0.8);
color:#fff;
}
.header-bar .container{
position:relative;
}
.main-container section.col-sm-12 {
    min-height: auto;
}

.srh-box {
    width: 545px;
    padding: 5px 30px;
    height: 40px;
    font-size: 20px;
    border: 0 none;
    text-align: center;
    border-radius: 15px;
    font-family: 'myriad pro';
}

.search-form {
    display: inline-block;
    position: relative;
}

.search-form:after {
    content: "";
    width: 0;
    height: 0;
    right: 30px;
    top: 11px;
    position: absolute;
    border-right: 11px solid #c5c5c4;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.search-form:before {
    content: url('../images/plus-icon.png');
    width: 0;
    height: 0;
    left: 20px;
    top: 4px;
    position: absolute;
}


@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
	opacity:0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
	opacity:1;
  }
}

#dm-title {
    position: absolute;
    top: 205px;
	
	
}
#dm-title  sub{
   color: #fff;
}
#dm-title  span{
  font-size:2.5em;
  font-family:'avenirnext medium';
}

#dm-title .yellow {
    color: #E3E300;
    font-size: 55px;
    font-family: 'avenirnext demibold';
		-webkit-animation-name: slideInLeft;
     animation-name: slideInLeft;
	 -webkit-animation-duration: 1s;
  animation-duration: 1s;	
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
   -webkit-animation-fill-mode: both;
  animation-fill-mode: both; 
}

#dm-title .white {
    color      : #fff;
    font-size  : 40px;
    font-family: 'avenirnext regular';
	-webkit-animation-name: slideInLeft;
     animation-name: slideInLeft;
	 -webkit-animation-duration: 1s;
  animation-duration: 1s;	
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
   -webkit-animation-fill-mode: both;
  animation-fill-mode: both; 
}
.page-node-98 #dm-title {
    position: absolute;
    top: 280px;
    left: 2%;
}
.page-node-42 #dm-title {
    position: absolute;
    top :200px;
	left:11%;
}
.page-node-93 #dm-title {
    position: absolute;
    top :160px;
	left:11%;
}
.page-node-49 #dm-title {
    position: absolute;
    top : 175px;
	left:11%;
}
.page-node-49 #dm-title .yellow {
     color: #E3E300;
    font-size: 5em;
    font-family: 'avenirnext medium';
}
.page-node-50 #dm-title {
    position: absolute;
    top: 205px;
	left:20%;
}
.page-node-53 #dm-title .white {
    color: #fff;
    font-size: 4em;
    font-family: 'avenirnext regular';
}

.page-node-12 #dm-title {
    position: absolute;
    top: 100px;
    left: 23%;
}

.page-node-12 #dm-title .yellow {
    color: #E3E300;
    font-size: 4em;
    font-family: 'avenirnext medium';
}
.page-node-12 #dm-title .white{
    color: #fff;
    font-size: 2em;
    font-family: 'avenirnext regular';
	line-height: 1.3;
	margin-top: 10px;
}

.page-node-13 #dm-title {
    position: absolute;
    top: 182px;
    left: 13%;
}

.page-node-13 #dm-title .yellow {
    color: #E3E300;
    font-size: 80px;
    font-family: 'avenirnext bold';
}

.page-node-13 #dm-title .white {
    color: #fff;
    font-size: 75px;
    font-family: 'avenirnext regular';
}

#dm-title h1 {

    margin: 0;
}

.page-node-15 #dm-title {
    position: absolute;
    top: 140px;
    left: 13%;
}


.page-node-15 #dm-title .yellow {
    color: #E3E300;
    font-size: 8em;
    font-family: 'avenirnext demibold';
}

.page-node-15 #dm-title .white {
    color: #fff;
    font-size: 55px;
    font-family: 'avenirnext regular';
}

.page-node-17 #dm-title {
    position: absolute;
    top: 190px;
    left: 20%;
}

.page-node-17 #dm-title .yellow {
    color: #E3E300;
    font-size: 4em;
    font-family: 'avenirnext demibold';
}

.page-node-17 #dm-title .white {
    color: #fff;
    font-size: 55px;
    font-family: 'avenirnext regular';
}

.page-node-19 #dm-title {
    position: absolute;
    top: 230px;
    right: 2%;
    text-align: right;
	text-shadow: 0px 0 10px #0e0e0e;
}

.page-node-19 #dm-title .yellow {
    color: #E3E300;
    font-size: 3.5em;
    font-family: 'avenirnext demibold';
}

.page-node-19 #dm-title .white {
    color: #fff;
    font-size: 4em;
    font-family: 'avenirnext regular';
}

.page-node-20 #dm-title {
    position: absolute;
    top: 375px;
    left: 5%;
}

.page-node-20 #dm-title .yellow {
    color: #E3E300;
    font-size: 4em;
    font-family: 'avenirnext demibold';
}

.page-node-20 #dm-title .white {
    color: #fff;
    font-size: 3em;
    font-family: 'avenirnext regular';
}

.page-node-38 #dm-title {
    position: absolute;
    top: 115px;
    left: 12%;
}

.page-node-38 #dm-title .yellow {
    color: #E3E300;
    font-size: 5.5em;
    font-family: 'avenirnext demibold';
}

.page-node-38 #dm-title .white {
    color: #fff;
    font-size: 5em;
    font-family: 'avenirnext regular';
}

.page-node-39 #dm-title {
    position: absolute;
    top: 175px;
    right: 7%;
}

.page-node-39 #dm-title .yellow {
    color: #E3E300;
    font-size: 6em;
    font-family: 'avenirnext demibold';
}

.page-node-39 #dm-title .white {
    color: #fff;
    font-size: 5.5em;
    font-family: 'avenirnext regular';
}

.page-node-51 #dm-title {
    position: absolute;
    top: 230px;
    left: 13%;
}

.page-node-51 #dm-title .yellow {
    color: #E3E300;
    font-size: 6em;
    font-family: 'avenirnext demibold';
}

.page-node-51 #dm-title .white {
    color: #fff;
    font-size: 5.5em;
    font-family: 'avenirnext regular';
}

.page-node-52 #dm-title {
    position: absolute;
    top: 110px;
    left: 11%;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.24);
}

.page-node-52 #dm-title .yellow {
    color: #E3E300;
    font-size: 5em;
    font-family: 'avenirnext demibold';
}

.page-node-52 #dm-title .white {
    color: #fff;
    font-size: 4em;
    font-family: 'avenirnext regular';
}

.page-node-54 #dm-title {
    position: absolute;
    top: 250px;
    right: 12%;
	text-align:right;
	text-shadow:2px 2px 5px rgba(0, 0, 0, 0.24);
}

.page-node-54 #dm-title .white {
    color: #E3E300;
    font-size: 4em;
    font-family: 'avenirnext bold';
}

.page-node-54 #dm-title .yellow {
    color: #fff;
    font-size: 3.5em;
    font-family: 'avenirnext regular';
}

.page-node-55 #dm-title {
    position: absolute;
    top: 220px;
    right: 2%;
}

.page-node-55 #dm-title .yellow {
    color: #E3E300;
    font-size: 5em;
    font-family: 'avenirnext demibold';
	text-align:right;
}

.page-node-55 #dm-title .white {
    color: #fff;
    font-size: 4em;
    font-family: 'avenirnext regular';
	text-align:right;
}

.page-node-43 #dm-title {
    position: absolute;
    top: 175px;
    left: 7%;
}

.page-node-43 #dm-title .yellow {
    color: #E3E300;
    font-size:5em;
    font-family: 'avenirnext demibold';
	line-height:1;
}

.page-node-43 #dm-title .white {
    color: #fff;
    font-size: 4em;
    font-family: 'avenirnext regular';
}

.page-node-45 #dm-title {
    position: absolute;
    top: 145px;
    left: 20%;
  
}
.page-node-45 #dm-title {
    position: absolute;
    top: 145px;
    left: 20%;
  
}
.page-node-47 #dm-title {
    position: absolute;
    top: 160px;
}

.page-node-45 #dm-title .yellow {
    color: #E3E300;
    font-size: 6em;
    font-family: 'avenirnext medium';
}

.page-node-45 #dm-title .white {
    color: #fff;
    font-size: 3em;
    font-family: 'avenirnext regular';
}

.page-node-53 #dm-title {
    position: absolute;
    top: 200px;
    left: 7%;
}
.page-node-53 #dm-title  h1{
    text-shadow:5px 0 10px #000;
}

.page-node-53 #dm-title .yellow {
    color: #E3E300;
    font-size: 6.5em;
    font-family: 'avenirnext demibold';
}

.free-sim-block {
    position: relative;
    width: 100%;
    float: none;
    height: auto;
    background: #129F98;
	max-width:1920px;
	margin:0 auto;
	display:table;
}

.page-user-login .main-container #content-wrapper {
    width: 60% !important;
    margin: 0 auto;
    float: none;
}

#delight_home_section_block {
    height: 100%;
    width: 50%;
    float: left;
	display:table-cell;
}

.region-sidebar-first.well {
    background: #95c11f;
}

.region-sidebar-first .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #fff;
    font-size: 18px;
    background: transparent;
    font-family: 'avenirnext regular';
}

.region-sidebar-first .nav > li > a:hover,.region-sidebar-first .nav > li > a:focus,.region-sidebar-first .nav > li.active> a {
    color: #063;
    background: transparent;
    font-family: 'avenirnext bold';
}

.region-sidebar-first .nav > li {
    border-bottom: 1px solid #fff;
}

.region-sidebar-first .nav > li:last-child {
    border-bottom: 0;
}

#delight_home_section_block .ui-accordion h3:first-child {
    background: #3CA735;
}

#delight_home_section_block .ui-accordion h3:last-of-type {
    background: #8BC540 !important;
}

#delight_home_section_block .ui-accordion h3 {
    background: #026838;
    margin-top: 0;
    border: 0;
    border-radius: 0;
    text-transform: capitalize;
    display: table;
    display: table;
    width: 100%;
    height: 108px;
    font-family: 'avenirnext demibold';
}

#delight_home_section_block .ui-accordion h3 a {
    font-size: 28px;
    color: #fff !important;
    outline: 0;
    margin-left: 25px;
    display: table-cell;
    vertical-align: middle;
	font-family: 'avenirnext medium';
	font-weight:bold;
}


#delight_home_section_block .ui-accordion .ui-accordion-content {
    padding-left: 16%;
    border-bottom-right-radius: 0;
}

#delight_home_section_block .ui-accordion .ui-state-active .ui-icon {
    background: url(../images/down.png) no-repeat 0 0 !important;
    width: 35px !important;
    height: 35px !important;
	
}

 #delight_home_section_block .ui-accordion .ui-state-default .ui-icon {
    background: url(../images/right.png) no-repeat 0 0;
    width: 35px;
    height: 35px;
} 

#delight_home_section_block .ui-accordion .ui-accordion-icons {
    padding-left:14%;
}

#delight_home_section_block .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    position: relative;
    left: 0;
    top: 30px;
    display: table-cell;
    margin-top: 0;
    padding-right: 60px;
}

#delight_home_section_block .ui-accordion .ui-widget-content {
    border: 0;
    height: auto !important;
	font-family: 'avenirnext regular';
	font-size:16px;
}

#new_delight_free_sim_section {
    width: 50%;
    float: left;
    background: #129f98;
    display:table-cell;
}


.field-name-field-terms-and-conditions {
    font-family: 'avenirnext regular';
    float: left;
    display: table;
/*  width:100%; */
    padding-top: 30px;
}
.page-node-97 h1.page-header{
 color: #036733;
border: 0px none;
font-size: 35px;
font-family: "avenirnext demibold";
}
.page-node-96 h1.page-header{
 color: #036733;
border: 0px none;
font-size: 35px;
font-family: "avenirnext demibold";
}
.page-node-96 ul li img{
width:100%!important;
height:auto!important;
}
.page-node-97 ul li img{
width:100%!important;
height:auto!important;
}
.page-node-96 ul {
text-align:center;
}
.page-node-97 ul {
text-align:center;
}
.page-node-51 .field-name-field-terms-and-conditions {
    font-family: 'avenirnext regular';
    float: right;
    display: table;
    width: 70%;
    padding-top: 30px;
}

.field-name-field-terms-and-conditions .field-label {
    display: table;
    cursor: pointer;
	font-weight:normal;
}

.field-name-field-terms-and-conditions .field-item.in {
    display: table;
}

.field-name-field-terms-and-conditions .field-label:after {
    content: "[-]";
    width: 0;
    height: 0;
    font-size: 15px;
}

.field-name-field-terms-and-conditions .field-label.collapsed:after {
    content: "[+]" !important;
    width: 0;
    height: 0;
    font-size: 15px;
}

.payg_content_section .field-type-text-with-summary .field-item p {
   font-family: "lato regular";
	font-size: 14px;
	float: left;
	margin-bottom: 0;
	line-height: 1.8;
	
}
.payg_content_section .field-type-text-with-summary .field-item p  a,u{
   color:#058D36;
	
}

.page-node-13 .payg_content_section .content .field-name-body {
    float: left;
    width: 73%;
	padding-left: 40px;
}

 #offer-wrapper{
    padding:30px 65px 30px 65px;
} 
#cheap-callrates{
    padding: 30px 0px 30px 0px;
}  
#cheap-call-rates-section h2{
color: #008D36 !important;
font-size: 18px;
font-family: "avenirnext bold" !important;
}
#bundle-wrapper{
    padding-top: 30px;
	padding-bottom:30px;
	padding-right:80px;
	padding-left:80px;
} 
#faq-wrapper{
    padding-top: 30px;
	padding-bottom:30px;
} 
#content-wrapper{
    padding-top: 30px;
	padding-bottom:30px;
} 
/*faq*/
#content-wrapper .ui-accordion h3.ui-state-active {
    border: 0;
    background: #dfecbb !important;
}

#faq-wrapper .ui-accordion h3.ui-state-active {
    border: 0;
    background: #dfecbb !important;
}

#faq-wrapper .ui-accordion {
    float: left;
}

#content-wrapper .nav-tabs {
    margin-top:0px;
}

#content-wrapper .nav-tabs > li.active > a {
    color: #036733;
}

#content-wrapper .nav-tabs > li > a {
    color: #555;
}
.submit-message {
    background: #DFECBB;
    /* margin-top: 150px; */
    padding: 30px;
    border-radius: 10px;
}

#content-wrapper .webform-confirmation p {
    font-family: 'avenirnext demibold' !important;
    font-size: 18px;
    color: #036733;
}

#content-wrapper .links {
    padding-top: 1px;
}

#content-wrapper .links a {
    color: #000;
}

/* #content-wrapper .ui-state-active .ui-icon {
    background-image:none;
} */
#content-wrapper .ui-state-active a {
    font-family: 'avenirnext bold' !important;
    color: #036733 !important;
}

#faq-wrapper .ui-state-active a {
    font-family: 'avenirnext bold' !important;
    color: #008D36 !important;
    font-size: 20px;
}

#content-wrapper .ui-accordion-content-active {
    border: 0;
    background: #dfecbb;
    font-family: 'avenirnext regular';
}

#faq-wrapper .ui-accordion-content-active {
    border: 0;
    background: #dfecbb;
    font-family: 'avenirnext regular';
}

#content-wrapper .ui-accordion-content {
    font-family: 'avenirnext regular';
    font-size: 20px;
}

#faq-wrapper .ui-accordion-content {
    font-family: 'avenirnext regular';
    font-size: 20px;
}

#content-wrapper .ui-accordion .ui-state-default {
    border: 0;
    background: transparent;
    font-family: 'avenirnext medium';
}

#faq-wrapper .ui-accordion .ui-state-default {
    border: 0;
    background: transparent;
    font-family: 'avenirnext medium';
}

#content-wrapper .ui-accordion h3.ui-state-default a {
    color: #1d1d1b;
    margin-left: 20px;
}

#faq-wrapper .ui-accordion h3.ui-state-default a {
    color: #1d1d1b;
    margin-left: 20px;
    font-family: 'avenirnext regular';
    font-size: 20px;
    display: inline-block;
}

/* #content-wrapper .ui-state-default .ui-icon {
    background-image:none;
} */
#content-wrapper .ui-accordion .ui-accordion-content {
    padding: 10px 15px 20px;
    border-top: 0 none;
    overflow: auto;
    color: #1d1d1b;
}

#faq-wrapper .ui-accordion .ui-accordion-content {
    padding: 10px 30px 20px;
    border-top: 0 none;
    overflow: auto;
    color: #1d1d1b;
    height: auto !important;
}

#content-wrapper .ui-accordion .ui-accordion-icons {
    padding: 1em .5em .5em .7em;
}

#faq-wrapper .ui-accordion .ui-accordion-icons {
    padding: 1em .5em .5em .7em;
}

.#offer-wrapper .field-type-text-with-summary .field-item .offers-content {
    font-family: 'lato regular';
    font-size: 13px;
    float: left;
    width: 70%;
}

.page-node-51 .#offer-wrapper .field-type-text-with-summary .field-item .offers-content {
    font-family: 'lato regular';
    font-size: 15px;
}

#content-wrapper .field-type-text-with-summary .field-item {
    font-family: 'avenirnext regular';
    font-size: 20px;
    float: left;
}
.node-type-legel-page  #content-wrapper .field-type-text-with-summary .field-item {
    font-family: 'avenirnext regular';
    font-size: 20px;
    float: none;
	overflow-x:hidden;
}

.field-name-field-terms-and-conditions ul{padding-left:20px;}
.field-name-field-terms-and-conditions .field-item {
    margin-top:10px;
}

#faq-wrapper .field-type-text-with-summary .field-item {
    font-family: 'avenirnext regular';
    font-size: 20px;
    float: left;
}

#content-wrapper .field-type-text-with-summary .field-item p {
    font-family: 'avenirnext regular' !important;
    font-size: 20px !important;
}

#faq-wrapper .field-type-text-with-summary .field-item p {
    font-family: 'avenirnext regular' !important;
    font-size: 20px !important;
    float: left;
}

#offer-wrapper .field-type-text-with-summary .field-item {
    font-family: 'avenirnext regular';
    font-size: 18px;

}
#offer-wrapper .field-type-text-with-summary .field-item  strong{
   color: #008E36;
}

.page-node-51 #offer-wrapper .field-type-text-with-summary .field-item {
    width: 70%;
    float: left;
}

.page-node-52 #offer-wrapper .field-type-text-with-summary .field-item {
    font-family: 'avenirnext regular';
    font-size: 18px;
    float: left;
	margin-top:50px;
}
.page-node-52 .header-bar img {
    position: absolute;
    left: 65px;
    top: -2px;
}
#header-bar-flag  .container{padding:0 65px 0 65px;}
#header-bar-flag h3{
	 color: #008E36;
	 font-family: 'avenirnext regular';
	 font-size:28px;
}

.payg_content_section.field-type-text-with-summary .field-item p {
    font-family: 'lato regular';
    font-size: 13px;
    float: left;
}
.page-node-13 .payg_content_section .field-item {
    font-family: 'avenirnext regular';
    font-size: 18px;
    float: left;
}
.page-node-20 .payg_content_section .field-type-text-with-summary .field-item p {
    font-family: 'avenirnext regular';
    font-size: 20px;
    float: left;
	width:100%;
}
.page-node-20 .payg_content_section .field-type-text-with-summary .field-item a {
    font-family: 'avenirnext regular';
    font-size: 18px;
    float: left;
	color: #058D36;
	display:block;
	width: 100%;
}
 .page-node-55 .field-name-field-terms-and-conditions {
    font-family: "avenirnext regular";
    float: left;
    display: table;
    padding:30px 0px 0 0px;
}

 .page-node-55  .field-name-field-terms-and-conditions .field-item.in {
    display: table;
	
}

#bundle-wrapper .field-type-text-with-summary .field-item {
    font-family: 'lato regular';
    font-size: 18px;
}
.page-node-39 #bundle-wrapper .field-type-text-with-summary .field-item  strong{
    font-family: 'lato regular';
    font-size: 18px;
	color: #036733;
}

#bundle-wrapper table {
    width: 100% !important;
    border: 0;
    border-collapse: separate;
    border-spacing: 5px;
}

#offer-wrapper table {
    width: 100% !important;
    border: 0;
    border-collapse:collapse;
  
}

#bundle-wrapper table td {
    font-family: 'avenirnext medium';
    border: 1px solid #b5b5b5;
    padding: 12px 0;
    color: #006732;
}

#offer-wrapper table td {
    font-family: 'avenirnext medium';
    border: 1px solid #b5b5b5;
    padding: 12px 0;
    color: #006732;
	box-shadow:0 0 0 5px #fff inset;
}

#bundle-wrapper table tr td:nth-child(-n+4) {
    border-bottom: 1px solid #ccc;
    background: #DFDC01;
}

#offer-wrapper table tr td:nth-child(-n+4) {
    border-bottom: 1px solid #ccc;
    background: #DFDC01;
    font-size: 18px;
}

#bundle-wrapper table tr td:nth-child(5) {
    border-bottom: 1px solid #ccc;
    background: #9FD8B8;
}

#bundle-wrapper table tr td:first-child {
    font-family: 'avenirnext bold';
    font-size: 20px;
    margin: 5px;
	background: #a9cd4b;
    padding-left:10px;
}
#bundle-wrapper .footable.breakpoint tr td.expand{
    font-family: 'avenirnext bold';
    font-size: 20px;
    margin: 5px;
	background: #a9cd4b url("img/plus.png") no-repeat scroll 5px center!important;
    padding-left:10px;
}

#offer-wrapper table tr td:first-child {
    font-family: 'avenirnext bold';
    font-size: 20px;
    margin: 5px;
    background: #a9cd4b;
}

#bundle-wrapper table tr td:last-child {
    font-family: 'avenirnext medium';
    font-size: 20px;
    margin: 5px;
    color: #333;
    background: #fff;
}

#offer-wrapper table tr td:last-child {
    font-family: 'avenirnext medium';
    font-size: 20px;
    margin: 5px;
    color: #333;
    background: #fff;
}

#bundle-wrapper table  thead tr th {
    padding: 8px 0;
    border: 1px solid #b5b5b5;
    margin-bottom: 12px;
    font-family: 'avenirnext medium';
    font-size: 14px;
    color: #333;
    background: #ececec;
}

#offer-wrapper table tr:first-child td {
    padding: 8px 0;
    border: 1px solid #b5b5b5;
    margin-bottom: 12px;
    font-family: 'avenirnext medium';
    font-size: 14px;
    color: #333;
    background: #ececec;
}

.payg_content_section .field-type-text-with-summary .field-item  strong {
    font-family: 'avenirnext demibold';
    font-size: 22px;
    width: 70%;
    color: #036733;
}
.page-node-19 .payg_content_section .field-type-text-with-summary .field-item  strong {
    font-family: 'avenirnext demibold';
    font-size: 22px;
	width:100%;
    color: #036733;
	float:left;
}
.page-node-20 .payg_content_section .field-type-text-with-summary .field-item  strong {
    font-family: 'avenirnext demibold';
    font-size: 22px;
	width:100%;
    color: #036733;
	float:left;
}

.payg_content_section .field-type-text-with-summary .field-item  {
    font-family: 'avenirnext regular';
    font-size: 18px;
	line-height:1.6;

}

.payg_content_section .field-type-text-with-summary .field-item span {
    font-family: 'avenirnext regular';
    font-size: 18px;
    color: #058d36;
}

.payg_content_section .content .field-type-image {
    width: 27%;
    display: block;
    float: left;
}

.payg_content_section .content h1 {
    font-family: 'avenirnext demibold';
    font-size: 36px;
    color: #058d36;
}

#content-wrapper .field-type-text-with-summary .field-item strong {
    font-family: 'avenirnext demibold';
    font-size: 22px;
    color: #036733;
}

#faq-wrapper .field-type-text-with-summary .field-item strong {
    font-family: 'avenirnext demibold';
    font-size: 22px;
    color: #036733;
}

.payg_content_section .field-type-text-with-summary .field-item .payg-container img {
    float: left;
    position: relative;
    top: -2px;
}

#offer-wrapper .field .field-item img {
    float: left;
    position: relative;
    top: -2px;
    margin-bottom: 20px;

}
.page-node-52 #offer-wrapper .field .field-item img {
    float: left;
    position: relative;
    top: -2px;
    margin-bottom: 20px;
	width:432px;
	height:117px;
}

.payg_content_section{
width:100%;
float:left;
}
.payg_content_section .field .field-item img {
    float: left;
    position: relative;
    top: -2px;
}

.payg_content_section .payg-container {
    font-family: 'lato regular';
    float: left;
    width: 70%;
}

.page-node-13 .payg_content_section  h2 {
    color: #036733;
    border: 0;
    font-size: 35px;
    margin-bottom: 0;
    font-family: 'avenirnext demibold';
}

#offer-wrapper .field-item h2 {
    color: #036733;
    border: 0;
    font-size: 35px;
    margin-top: 0;
    font-family: 'avenirnext demibold';
}

#offer-wrapper .field-item h3 {
    color: #036733;
    border: 0;
    font-size: 35px;
    margin-bottom: 0;
    font-family: 'avenirnext bold';
}

.page-node-55 #offer-wrapper .field-item h3 {
    color: #008e36;
    border: 0;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'avenirnext demibold';
}

#content-wrapper .field-item h3 strong {
    color: #036733;
    border: 0;
    font-size: 35px !important;
    font-family: 'avenirnext bold' !important;
}

#faq-wrapper .field-item h3 strong {
    color: #036733;
    border: 0;
    font-size: 35px !important;
    font-family: 'avenirnext bold' !important;
}

#offer-wrapper .field-item h4 {
    color: #036733;
    border: 0;
    margin-bottom: 0;
    font-family: 'avenirnext demibold';
}

#offer-wrapper .content .field-type-image {
    width: 30%;
    display: block;
    float: left;
}

#content-wrapper .field-item h4,#content-wrapper .field-item b {
    color: #036733;
    border: 0;
    margin-bottom: 0;
    font-family: 'avenirnext demibold';
}

#faq-wrapper .field-item h4,#faq-wrapper .field-item b {
    color: #036733;
    border: 0;
    margin-bottom: 0;
    font-family: 'avenirnext demibold';
}

#content-wrapper .field-type-text-with-summary .field-item h2 {
    color: #036733;
    border: 0;
    font-size: 35px;
    font-family: 'avenirnext demibold';
}

#faq-wrapper .field-type-text-with-summary .field-item h2 {
    color: #036733;
    border: 0;
    font-size: 35px;
    font-family: 'avenirnext demibold';
}

.payg_content_section .page-header {
    color: #036733;
    border: 0;
    font-size: 35px;
    margin: 0;
    font-family: 'avenirnext demibold';
}

#bundle-wrapper .page-header {
    color: #036733;
    border: 0;
    font-size: 35px;
    margin-bottom: 0;
	margin-top:0;
    font-family: 'avenirnext demibold';
}

.node-webform .contact {
    width: 48%;
    border: #3ba934 1px solid;
    float: left;
    padding: 20px;
    padding: 15px 25px;
    height: 315px;
    border-radius: 10px;
    margin-right: 15px;
}

.node-webform .write {
    width: 48%;
    border: #3ba934 1px solid;
    float: left;
    padding: 15px 25px;
    height: 315px;
    border-radius: 10px;
    margin-left: 15px;
}

form.webform-client-form {
    background: #dfecbb;
    padding: 50px 40px 15px;
    border-radius: 10px;
    float: left;
	width:100%;
}

form.webform-client-form .form-item {
    margin-bottom: 10px;
    height: 40px;
}

label[for="edit-expiry-month"]{
display:table!important;
}

form.webform-client-form .form-item label {
    color: #008e36;
    font-family: 'avenirnext regular';
    width: 20%;
    float: left;
    font-size: 15px;
}

form.webform-client-form input.form-control,form.webform-client-form select.form-control {
    height: 40px;
    width: 80%;
    float: left;
    font-size: 16px;
    border-radius: 6px;
}

form.webform-client-form textarea.form-control {
    width: 80% !important;
    float: right;
}

.webform-component-textarea .grippie {
    display: none !important;
}

form.webform-client-form .webform-submit {
    background: #036733;
    margin-left: 91%;
    margin-top: 20px;
}

#offer-wrapper .content div.free-credit-content.yellow{
    background: #f3f2a3;
    padding: 15px 30px 15px 30px;
	margin: 0px 0px 20px 0px;
}
#offer-wrapper .content div.free-credit-content.grn-lgt{
    background: #C9DF94;
    padding: 15px 30px 15px 30px;
	margin: 0px 0px 20px 0px;
}
#offer-wrapper .content div.free-credit-content.grn-md{
    background: #A3D39C;
    padding: 15px 30px 15px 30px;
	margin: 0px 0px 20px 0px;
}
#offer-wrapper .content div.free-credit-content.grn-drk{
    background: #A1D4B2;
    padding: 15px 30px 15px 30px;
	margin: 0px 0px 20px 0px;
}

.free-credit-content p strong {
    color: #008e36;
}
.free-credit-content p strong {
    color: #008e36;
}

.sim-order {
    width: 100%;
    float: right;
    background: #089f98;
    border-radius: 10px;
    padding: 25px;
}

.sim-order h1 {
    color: #fff;
    font-size: 32px;
    font-family: 'avenirnext medium';
	margin-top:10px;
}

#offer-wrapper .sim-order img {
    display: block;
    margin: 0 auto;
    float: none !important;
    position: relative !important;
    top: 0 !important;
    margin-bottom: 0 !important;
}

.sim-order a {
    color: #058c36;
    font-size: 25px;
    background: #fff;
    width: 100%;
    padding: 4px 12px;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'avenirnext medium';
    margin: 0 auto;
    display: block;
    text-align: center;
}

#new_delight_free_sim_section .content {
    padding-left: 15%;
}

#new_delight_free_sim_section .node-article .field-item {
    font-family: 'avenirnext medium';
    font-size: 30px;
    color: #fff !important;
    outline: 0;
	margin-top:35px;
	font-weight:bold;
}

#new_delight_free_sim_section .node-article .field-item a {
    background: #fff;
    border-radius: 13px;
    color: #585858;
    font-size: 20px;
    padding: 3px 45px;
    margin-left: 15px;
    font-family: 'avenirnext medium';
}
#delight_payg_rates_section1_block .block{
width:100%;
float:left;
}

#community-section .field-item  > img {
    transform: translate(0px,0px);
	
}

#community-section .field-item  .container-box{
    position: absolute;
    top: 25%;
	left:0;
	right:0;
    margin:0 auto;
	width:920px;
	display:block;
}

.left-column{
vertical-align:top;
display:table-cell;
padding-right:30px;
}

.right-column{
vertical-align:top;
display:table-cell;

}
.right-column a{
background:#ffffff;
color:#666666;
font-size:25px;
font-family: 'avenirnext demibold';
width:300px;
display:block;
width:510px;
padding:4px 12px 4px 12px;
border:2px solid #989898;
text-decoration:none;
border-radius:16px;
text-align:center;
margin-top:30px;

}

#community-section {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
}

#community-section .node-article h2:first-child {
    display: none;
}

#community-section .node-article h1 {
    font-family: 'avenirnext demibold';
    font-size: 40px;
    color: #fff !important;
    outline: 0;
	margin-top:0;
}

#community-section .node-article h2 {
    font-family: 'avenirnext regular';
    font-size: 42px;
    color: #f9ea37 !important;
    outline: 0;
}

#vendor-section img {
/* padding-left:20px;
padding-right:20px;  */
    display: block;
    margin: 0 auto;
}

#vendor-section h2 {
    display: none;
}

#vendor-section {
    display: block;
    width: 100%;
    float: left;
    border-top: #3BAA34 10px solid;
    padding-bottom: 85px;
    padding-top: 65px;
}

.front #vendor-section {
    display: block;
    width: 100%;
    float: left;
    border-top: 0;
}

#footer.footer {
    background: #6F6F6D;
    margin-top: 0;
    float: left;
    width: 100%;
    padding-top:40px;
}

.block:first-child h2.block-title {
    margin: 0;
}

.footer .block-title {
    font-size: 18px;
    margin: 0;
    color: #fff;
    padding: 0 15px !important;
}

.footer ul li a {
    color: #fff;
    font-size: 16px !important;
    padding: 0 15px!important;
    font-family: 'lato regular';
}

.footer ul li a:hover,.footer ul li a:focus {
    color: #fff;
    background: transparent !important;
}

.footer #block-menu-menu-dm-footer-menu {
    display: block;
    width: 25%;
    float: left;
   
}

.footer #block-menu-menu-dm-footer-menu-bundles {
    display: block;
    width: 23%;
    float: left;

}

.footer #block-menu-menu-dm-footer-offers {
    display: block;
    width: 29%;
    float: left;

}

.footer #block-menu-menu-dm-footer-support-menu {
    display: block;
    width: 23%;
    float: left;

}
.footer{}

#delight_copyright_section section {
    display: inline-block;
    margin-right: 15px;
}

#delight_copyright_section .menu li {
    display: inline-block;
}

#delight_copyright_section .menu li a,#delight_copyright_section .menu li a:hover,#delight_copyright_section .menu li a:focus {
    color: #fff;
    border-left: 2px solid #fff;
    padding: 0 15px;
    background: transparent;
    font-family: 'latosemibold' !important;
}

#delight_copyright_section {
    text-align: center;
    background: #6F6F6D none repeat scroll 0 0;
    font-size: 16px !important;
    font-family: 'latosemibold' !important;
    color: #fff;
    padding-bottom: 20px;
    width: 100%;
    float: left;
}

.yellow-hr {
    position: absolute;
    left: 0;
    right: 0;
    height: 16px;
    width: 100%;
    bottom:6px;
    background: url(../images/hr_line.png) no-repeat center center / cover;
}
}

@media only screen and (min-width:1680px) {
#delight_home_section_block .ui-accordion .ui-accordion-icons {
    padding-left: 40%;
}

#delight_home_section_block .ui-accordion .ui-accordion-content {
    height: auto !important;
    padding-left: 40%;
}

#dm-title {
    position: absolute;
    top: 205px;
}

#dm-title .yellow {
    color: #E3E300;
    font-size: 55px;
    font-family: 'avenirnext demibold';
}

#dm-title .white {
    color: #fff;
    font-size: 40px;
    font-family: 'avenirnext regular';
}

#dm-title h1 {
    line-height: 1;
    margin-top: 0;
}
}

@media only screen and (min-width: 1200px) and (max-width: 1520px) {
#header_banner img {
    transform: translate(-15%,0);
}/* Add your custom styles here for Tablet */

}

@media only screen and (min-width: 1650px) and (max-width: 1800px) {
#delight_home_section_block .ui-accordion .ui-accordion-icons {
    padding-left: 35%;
}

#delight_home_section_block .ui-accordion .ui-accordion-content {
    height: auto !important;
    padding-left: 35%;
}/* Add your custom styles here for Tablet */

}

/* new */
.page-order-freesim #freesim-registration-form .free-sim {
    display: block;
    float: none;
    background: #E1ECC3;
    padding: 20px 35px;
    border-radius: 20px;
    margin-right: 15%;
}

.node-type-cheap-call-rates #freesim-registration-form .free-sim {
    display: block;
    float: none;
    background: #E1ECC3;
    padding: 20px 35px;
    border-radius: 20px;
}

.page-order-freesim-status #content-wrapper .block-system {
    font-family: "avenirnext regular" !important;
    color: #000 !important;
    font-size: 15px;
	
}

.page-order-freesim-status #content-wrapper .block-system li {
    font-family: "avenirnext regular" !important;
    font-size: 18px;
    color: #000;
    margin-left: 30px;
    line-height: 1.8em;
}

.page-order-freesim-status #content-wrapper .block-system strong {
    font-family: "avenirnext medium" !important;
    font-size: 23px;
    color: #008D36;
	font-weight:normal;
  }

.page-myaccount-login #content-wrapper .login-box {
    display: block;
    margin-right: 90px;
    background: #E1ECC3;
    padding: 20px 35px;
    border-radius: 20px;
}

.page-myaccount-login #content-wrapper .help-login {
    display: block;
    background: transparent;
    padding: 20px 35px;
    border-radius: 30px;
    border: 4px solid #3ba836;
}

.page-myaccount-forgot-password #content-wrapper .help-fwd {
    display: block;
    background: transparent;
    padding: 20px 35px;
    border-radius: 30px;
    border: 4px solid #3ba836;
}

#myaccount-reg-verification-form .verify-help {
    display: block;
    background: transparent;
    padding: 20px 35px;
    border-radius: 30px;
    border: 4px solid #3ba836;
}

#myaccount-reg-verification-form .verify-help a {
    color: #008C35;
    font-family: 'latosemibold';
}

#edit-login-desc .list-unstyled {
/*     margin-left: 10px; */
    font-family: 'lato regular';
    font-size: 18px;
}

.page-myaccount-forgot-password #content-wrapper .fwd-box {
    display: block;
    float: none;
    background: #E1ECC3;
    padding: 20px 35px;
    border-radius: 20px;
    margin-left: 100px;
}

#myaccount-registration-form .reg-box {
    display: block;
    float: none;
    background: #E1ECC3;
    padding: 20px 35px;
    border-radius: 20px;
    margin-left: 70px;
}

#myaccount-reg-verification-form .verify-box {
    display: block;
    float: none;
    background: #E1ECC3;
    padding: 20px 35px;
    border-radius: 20px;
    margin-left: 70px;
    font-family: 'lato bold';

}

#myaccount-reg-continue-form {
    display: block;
    float: left;
    background: #E1ECC3;
    padding: 20px 35px;
    border-radius: 20px;
    font-family: 'lato bold';
    width: 100%;
}

#myaccount-registration-form .reg-help {
    display: block;
    background: transparent;
    padding: 20px 35px;
    border-radius: 30px;
    border: 4px solid #3ba836;
     margin-bottom: 20px;
}

#edit-forgot-password-link h3 {
    font-family: 'lato bold';
    font-size: 23px;
    color: #3ba836;
}

#edit-reg-description label[for=edit-reg-description] {
    font-family: 'lato bold';
    font-size: 23px;
    color: #3ba836;
}

#edit-reg-description p {
    font-family: 'lato regular' !important;
    font-size: 18px;
    font-weight: 400;
}

#edit-login-desc label[for=edit-login-desc] {
    font-family: 'lato bold';
    font-size: 23px;
    color: #3ba836;
}

#edit-forgot-password-link label[for=edit-forgot-password-link] {
    font-family: 'lato regular' !important;
    font-size: 18px;
    font-weight: 400;
}

#edit-verification-desc {
    font-family: 'lato regular';
    font-size: 18px;
}

#edit-code-not-arrived-desc {
    font-family: 'lato regular';
    font-size: 18px;
}

#edit-login-desc p {
    font-family: 'lato regular';
    font-size: 18px;
}

#edit-register-details label {
    font-family: 'lato bold';
    font-size: 25px;
    margin-bottom: 15px;
    color: #069145;
}

#edit-forgot-password-details label {
    font-family: 'lato bold';
    font-size: 23px;
    color: #026633;
}

#edit-verification-code-title label {
    font-family: 'lato bold';
    font-size: 23px;
    color: #026633;
}

#edit-code-not-arrived-title label {
    font-family: 'lato bold';
    font-size: 23px;
    color: #3BA836;
    margin-bottom: 0;
}

#edit-form-title label {
    font-family: 'lato bold';
    font-size: 23px;
    color: #3BA836;
    margin-bottom: 0;
}

#edit-form-title {
    margin-bottom: 0;
}

#edit-code-not-arrived-title {
    margin-bottom: 0;
}

.form-item-sim-type label[for=edit-sim-type] {
    display: none;
}

#freesim-registration-form .form-type-radio {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 0;
    padding-left: 0;
    width: 49%;
}

#freesim-registration-form .form-item-sim-type label {
    font-family: 'lato bold';
    font-size: 21px;
    color: #058c36;
}

#edit-login-details label {
    font-family: 'lato bold';
    font-size: 23px;
    color: #026633;
}

#edit-personal-details label {
    font-family: 'lato bold';
    font-size: 23px;
    color: #026633;
}

#edit-delivery-address label {
    font-family: 'lato bold';
    font-size: 23px;
    color: #026633;
}

#myaccount-reg-continue-form #edit-delivery-address1 label{
width:32.333%;
float:left;
}

#freesim-registration-form .form-item-postal-code {
    width: 48%;
    float: left;
}

#freesim-registration-form #opc_button.form-submit {
    width: 48%;
    margin-left: 4%;
/*     margin-top: 26px; */
    background: #C6D2A5;
    color: #1C1E18;
    font-size: 14px;
}
#myaccount-reg-continue-form  #opc_dropdown.form-control{
margin-top:15px;
width:100%;
}

#opc_dropdown{
margin-top:15px;

}

.node-type-cheap-call-rates #freesim-registration-form #edit-btn-find.form-submit {
    width: 48%;
    margin-left: 4%;
    margin-top: 29px;
    background: #C6D2A5;
    color: #1C1E18;
    font-size: 14px;
}

#edit-reg-link {
    margin-bottom: 0;
}

#edit-reg-link .register-btn {
    width: 78%;
    font-family: 'lato bold';
    font-size: 22px;
    background-color: #058c36;
    border-radius: 10px;
    height: 44px;
    color: #fff;
    border: #B0B0B0 2px solid;
    position: relative;
}

#edit-reg-link .register-btn:after {
    content: url(../images/arrow.png);
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 4px;
}

#freesim-registration-form label {
    font-family: 'lato bold';
    width: 100%;
}

#freesim-registration-form #edit-sim-type-img span {
    width: 193px;
    display: table-cell;
}

#freesim-registration-form #edit-sim-type-img span img {
    vertical-align: bottom;
    margin-left: 10px;
}

#freesim-registration-form #edit-sim-type-img {
    margin-bottom: 10px;
    display: table;
    width: 100%;
}

#myaccount-forgot-password-form label {
    font-family: 'lato bold';
    margin-bottom: 0;
}

#myaccount-login-form label {
    font-family: 'lato bold';
}

#edit-forgot-password-link a {
    color: #026633;
}

#myaccount-forgot-password-form .form-control {
    height: 44px;
    border: #B0B0B0 2px solid;
    border-radius: 10px;
    font-size: 20px;
}

#myaccount-registration-form .form-control {
    height: 44px;
    border: #B0B0B0 2px solid;
    border-radius: 10px;
    font-size: 20px;
}

.verify-box .form-control {
    height: 44px;
    border: #B0B0B0 2px solid;
    border-radius: 10px;
    font-size: 20px;
}

#myaccount-forgot-password-form .captcha {
    border-radius: 10px;
}

#myaccount-forgot-password-form .panel-heading {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#myaccount-login-form .form-control {
    height: 44px;
    border: #B0B0B0 2px solid;
    border-radius: 10px;
    font-size: 20px;
}

#freesim-registration-form .form-control {
    height: 44px;
    border: #B0B0B0 2px solid;
    border-radius: 10px;
    font-size: 20px;
}

#myaccount-login-form .checkbox {
    padding-left: 0;
    float: left;
    margin-top: 0;
}

#freesim-registration-form .checkbox {
  padding-left: 0px;
float: left;
margin-top: 0px;
height: 60px;
margin-bottom: 30px;
}

#myaccount-forgot-password-form .form-submit {
    font-family: 'lato bold';
    font-size: 22px;
    padding: 0;
    width: 100%;
    background-color: #058c36;
    border-radius: 10px;
    height: 44px;
    color: #fff;
    border: #B0B0B0 2px solid;
    position: relative;
}

.verify-box .form-submit {
    font-family: 'lato bold';
    font-size: 22px;
    padding: 0;
    width: 100%;
    background-color: #058c36;
    border-radius: 10px;
    height: 44px;
    color: #fff;
    border: #B0B0B0 2px solid;
    position: relative;
}

.verify-box .form-submit:after {
    content: url(../images/arrow.png);
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 4px;
}

#myaccount-login-form .form-submit {
    font-family: 'lato bold';
    font-size: 22px;
    padding: 0;
    width: 100%;
    background-color: #058c36;
    border-radius: 10px;
    height: 44px;
    color: #fff;
    border: #B0B0B0 2px solid;
    position: relative;
}

#freesim-registration-form .form-submit {
    font-family: 'lato bold';
    font-size: 22px;
    padding: 0;
    width: 100%;
    background-color: #058c36;
    border-radius: 10px;
    height: 44px;
    color: #fff;
    border: #B0B0B0 2px solid;
    position: relative;
}

#myaccount-registration-form .form-submit {
    font-family: 'lato bold';
    font-size: 22px;
    padding: 0;
    width: 100%;
    background-color: #058c36;
    border-radius: 10px;
    height: 44px;
    color: #fff;
    border: #B0B0B0 2px solid;
    position: relative;
}

#myaccount-registration-form .form-submit:after {
    content: url(../images/arrow.png);
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 4px;
}

#edit-reg-description {
    margin-bottom: 0;
}

#myaccount-login-form .form-submit:after {
    content: url(../images/arrow.png);
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 4px;
}

#myaccount-forgot-password-form .form-submit:after {
    content: url(../images/arrow.png);
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 4px;
}

#freesim-registration-form #edit-btn-submit.form-submit:after {
    content: url(../images/arrow.png);
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 4px;
}

.fa {
    display: inline-block;
}

#myaccount-login-form #edit-forgot-password-link {
    float: right;
}

#myaccount-login-form input[type=checkbox]:not(old) {
    width: 28px;
    margin: 0;
    padding: 0;
    opacity: 0;
}

#myaccount-login-form input[type=checkbox]:not(old) + label {
    display: inline-block;
    margin-left: -28px;
    padding-left: 40px;
    background: url(../images/checkbox.png) no-repeat 0 0;
    line-height: 24px;
    height: 28px;
}

#myaccount-login-form input[type=checkbox]:not(old):checked + label {
    background-position: 0 -28px;
}

#freesim-registration-form input[type=radio]:not(old) {
    width: auto;
    margin: 0;
    padding: 0;
    opacity: 0;
}

#freesim-registration-form input[type=radio]:not(old) + label {
    display: table-cell;
/*   margin-left  : -50px; */
    padding-left: 55px;
    background: url(../images/chkbox_1.png) no-repeat 0 0;
    line-height: 24px;
    height: 50px;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 20px;
}

#freesim-registration-form input[type=radio]:not(old):checked + label {
    background-position: 0 -87px;
}

#freesim-registration-form input[type=checkbox]:not(old) {
    width: 28px;
    margin: 0;
    padding: 0;
    opacity: 0;
}

#freesim-registration-form input[type=checkbox]:not(old) + label {
    display: inline-block;
    margin-left: 0;
    padding-left: 25px;
    background: url(../images/chkbox.png) no-repeat 0 4px;
    line-height: 24px;
    height: 15px;
}

#freesim-registration-form input[type=checkbox]:not(old):checked + label {
    background-position: 0 -11px;
}

.no-padding {
    padding: 0;
}

#freesim-registration-form .free-sim #edit-personal-details label {
    font-family: "lato bold";
    width: 100%;
    font-size: 23px;
}

#freesim-registration-form .free-sim #edit-form-title label {
    font-family: "lato bold";
    width: 100%;
    font-size: 23px;
}

#freesim-registration-form .free-sim #edit-delivery-address label {
    font-family: "lato bold";
    width: 100%;
    font-size: 23px;
}

#freesim-registration-form .free-sim label {
    font-family: "lato bold";
    width: 100%;
    font-size: 14px;
}

#edit-form-title label {
    font-family: "lato bold";
    font-size: 23px;
    color: #026633;
    margin-bottom: 15px;
}

#myaccount-reg-continue-form #edit-form-title {
    margin-bottom: 15px;
}

#myaccount-reg-continue-form .form-control {
    height: 44px;
    border: 2px solid #B0B0B0;
    border-radius: 10px;
    font-size: 16px;
    font-family: "lato regular";
}

#myaccount-reg-continue-form .form-submit {
    font-family: "lato bold";
    font-size: 22px;
    padding: 0;
    width: 100%;
    background-color: #058C36;
    border-radius: 10px;
    height: 44px;
    color: #FFF;
    border: 2px solid #B0B0B0;
    position: relative;
}

#myaccount-reg-continue-form .form-control {
    width: 66.6666%;
    display: inline-block;
}

#myaccount-reg-continue-form .form-item-dob-month,#myaccount-reg-continue-form .form-item-dob-year {
    width: 23%;
    display: inline-block;
}

#myaccount-reg-continue-form label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    width: 32.3333%;
}

#myaccount-reg-continue-form .form-item-dob-day label {
    width: 61%;
}

#myaccount-reg-continue-form .form-item-dob-month .form-control,#myaccount-reg-continue-form .form-item-dob-year .form-control {
    width: 93%;
    margin-left: 5%;
}

#myaccount-reg-continue-form .form-item-dob-day .form-control {
    width: 38%;
}

#myaccount-reg-continue-form .form-item-dob-day {
    width: 53%;
    display: inline-block;
}

#myaccount-reg-continue-form .form-item-postal-code {
    width: 48%;
    display: inline-block;
}

#myaccount-reg-continue-form .form-item-postal-code .form-control {
    width: 100%;
}

#myaccount-reg-continue-form .form-item-postal-code label {
    width: 50%;
}

#myaccount-reg-continue-form #opc_button.form-submit {
    width: 48%;
    margin-left:4%;
    margin-top: 0;
    background: #C6D2A5;
    color: #1C1E18;
    font-size: 14px;
}
#myaccount-reg-continue-form #postcode_lookup{
      width:66.55555%;
      display: inline-block;
}

}

#myaccount-reg-continue-form #edit-condition {
    width: 67%;
    margin-left: 33%;
}

#edit-email-adddress-title {
    font-family: "lato bold";
    font-size: 23px;
    color: #026633;
}

#myaccount-reg-continue-form #edit-btn-submit.form-submit {
    width: 67%;
    margin-left: 33%;
}

#myaccount-reg-continue-form #edit-btn-submit.form-submit:after {
    content: url(../images/arrow.png);
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 4px;
}

#myaccount-reg-continue-form label {
    text-align: right;
    padding-right: 30px;
}

#edit-password-title label {
    font-family: "lato bold";
    font-size: 23px;
    color: #026633;
}

#edit-address-title label {
    font-family: "lato bold";
    font-size: 23px;
    color: #026633;
/* text-align:left; */
}

#topup-registration-form #edit-form-title label {
    font-family: "lato bold";
    font-size: 25px;
    color: #3DB549;
}

#topup-registration-form #edit-form-title {
    margin-bottom: 15px;
}

#topup-registration-form #edit-form-title label span {
    font-family: "myriad Pro","Gill Sans","Gill Sans MT",Calibri,sans-serif;
    font-weight: 400;
}

.form-item-topup-amount label[for=edit-topup-amount] {
    font-family: "lato bold";
    font-size: 20px;
    color: #026633;
}

.form-item-auto-topup-opt label[for=edit-auto-topup-opt] {
    font-family: "lato bold";
    font-size: 20px;
    color: #026633;
	margin-bottom: 15px;
	margin-top: 10px;
}

#edit-topup-amount .form-item-topup-amount {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    border: 2px solid #058c36;
    display: inline-block;
    margin-top: 0;
     margin: 20px 29px 0 0;
    text-align: center;
    padding: 0;
    background: #fff;
    font-family: "myriad Pro","Gill Sans","Gill Sans MT",Calibri,sans-serif;
}

#edit-topup-amount .form-item-topup-amount .form-radio {
    position: fixed;
}

#edit-topup-amount .form-item-topup-amount label {
    font-size: 35px;
    padding-top: 10px;
}

#edit-topup-amount .form-item-topup-amount:first-child {
    margin-left: 0;
}

#edit-topup-amount .form-item-topup-amount:last-child {
    margin-right: 0;
}

#edit-topup-amount input[type=radio]:not(old) {
    width: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
}

#edit-topup-amount input[type=radio]:not(old) + label {
    display: inline-block;
    background: url(../images/radio.png) no-repeat 10px 45px;
    line-height: 24px;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    vertical-align: middle;
}

#edit-topup-amount input[type=radio]:not(old) + label:hover {
    display: inline-block;
    background: #008C35 url(../images/radio.png) no-repeat -70px 45px;
    line-height: 24px;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    color: #fff;
}

#edit-topup-amount input[type=radio]:not(old):checked + label {
    background: #008C35 url(../images/radio.png) no-repeat -70px 45px;
    color: #fff;
}

#edit-topup-desc label {
    font-family: "lato regular";
    font-size: 12px;
    font-weight: 400;
}

#edit-auto-topup-opt input[type=radio]:not(old) {
    width: auto;
    margin: 0;
    padding: 0;
    opacity: 0;
	position:absolute;
}

#edit-auto-topup-opt input[type=radio]:not(old) + label {
    display: table-cell;
/*   margin-left  : -50px; */
    padding-left: 55px;
    background: url(../images/chkbox_1.png) no-repeat 0 0;
    line-height: 24px;
    height: 50px;
    vertical-align: middle;
    white-space: nowrap;
}

#edit-auto-topup-opt input[type=radio]:not(old):checked + label {
    background-position: 0 -87px;
}

#edit-auto-topup-opt .form-item-auto-topup-opt {
    display: table-cell;
		
}

#edit-auto-topup-opt .form-item-auto-topup-opt label {
    font-family: 'lato bold';
    font-size: 18px;
    color: #058c36;
    text-transform: uppercase;
}

#edit-auto-topup-opt {
    border: #ccc solid 2px;
    border-radius: 20px;
    margin-right: 15%;
	padding:15px;
}

#edit-topup-desc {
    margin-top: 20px;
}

#topup-registration-form #edit-title label {
    font-family: "lato bold";
    font-size: 23px;
    color: #026633;
}

#topup-registration-form .reg-box {
    display: block;
    background: #E1ECC3;
    padding: 20px 15px;
    border-radius: 20px;
/*  margin-left:70px; */
}

#topup-registration-form .reg-box label {
width: 38%;
font-family: "lato bold";
font-size: 13px;
text-align: right;
font-weight: 400;
display: inline-block;
padding-right: 1%;
}

#topup-registration-form .reg-box .form-control {
width: 61%;
display: inline-block;
height: 32px;
border: 2px solid #B0B0B0;
border-radius: 10px;
font-size: 16px;
font-family: "lato regular";
}

#topup-registration-form #edit-btn-submit.form-submit {
    font-family: 'lato bold';
    font-size: 16px;
    padding: 0;
    width: 60%;
    margin-left: 40%;
    background-color: #058c36;
    border-radius: 10px;
    height: 32px;
    color: #fff;
    border: #B0B0B0 2px solid;
    position: relative;
}



.page-myaccount-register-status .block-system {
    font-family: "avenirnext regular" !important;
    color: #008D36 !important;
    font-size: 23px;
}

.page-myaccount-register-status .block-system li {
    font-family: "avenirnext regular" !important;
    font-size: 18px;
    color: #000;
    margin-left: 30px;
    line-height: 1.8em;
}

.page-myaccount-register-status .block-system a {
    font-family: "avenirnext medium" !important;
    font-size: 18px;
    color: #008D36;
    text-decoration: underline;
    margin-left: 20px;
}

#topup-payment-form .pay-box {
    display: block;
    float: none;
    background: #E1ECC3 none repeat scroll 0 0;
    padding: 20px 35px;
    border-radius: 20px;
    font-family: "lato regular" !important;
}

#topup-payment-form .pay-box label {
    width: 100%;

}
#topup-payment-form .pay-box label  .list-inline{
    display: inline-block;
	margin-top:10px;
}
#edit-lock-symbol-text p{
color: #3BA836;
font-family: "lato bold";
}
#edit-lock-symbol-text .media-body{
padding-left:30px;
}
#edit-lock-symbol-text img{
display:inline-block;
float:left;
}
#topup-payment-form .pay-details {
    display: block;
    background: transparent none repeat scroll 0 0;
    padding: 20px 35px;
    border-radius: 30px;
    border: 4px solid #3BA836;
}

#topup-payment-form #edit-form-title label {
    font-family: "lato bold";
    font-size: 23px;
    margin-bottom: 15px;
}

#topup-payment-form #edit-billing-address label {
    font-family: "lato bold";
    font-size: 23px;
    margin-bottom: 15px;
    color: #026633;
}

#myaccount-reg-verification-form .verify-help #edit-form-title label {
    font-family: "lato bold";
    font-size: 23px;
    color: #3BA836;
     margin-bottom: 10px;

}

#topup-payment-form .pay-box .form-control {
    height: 44px;
    border: 2px solid #B0B0B0;
    border-radius: 10px;
    font-size: 20px;
}

#topup-payment-form .pay-box #edit-pay-amount span,#edit-acceopted-cards span {
    margin-left: 20px;
    font-size: 16px;
    font-family: "lato medium" !important;
}

#topup-payment-form .form-item-expiry-month{
    width: 48%;
    display: inline-block;
}
.form-item-expiry-year{
width: 48%;
display: inline-block;
margin-left:3%;
}
#edit-security-code-sample {
width: 48%;
display: inline-block;
margin-left:3%;
}
#topup-payment-form .form-item-security-code {
    width: 48%;
    float: left;
}

#edit-security-code-sample label img {
    display: table-cell;
    margin-top: 25px;
    margin-left: 5px;
}

#topup-payment-form .form-item-postal-code {
    width: 48%;
    float: left;
}

#topup-payment-form #opc_button.form-submit {
    width: 48%;
    margin-left: 4%;
/*     margin-top: 25px; */
    background: #C6D2A5 none repeat scroll 0 0;
    color: #1C1E18;
    font-size: 14px;
    font-family: "lato bold";
    padding: 0;
    border-radius: 10px;
    height: 44px;
    border: 2px solid #B0B0B0;
    position: relative;
}

#topup-payment-form .form-item-condition input[type=checkbox]:not(old) {
    width: 28px;
    margin: 0;
    padding: 0;
    opacity: 0;
}

#topup-payment-form .form-item-condition input[type=checkbox]:not(old) + label {
    display: inline-block;
    margin-left: 0;
    padding-left: 25px;
    background: url(../images/chkbox.png) no-repeat 0 4px;
    line-height: 24px;
    height: 15px;
}

#topup-payment-form .form-item-condition input[type=checkbox]:not(old):checked + label {
    background-position: 0 -11px;
}

#topup-payment-form .form-item-condition {
    padding-left: 0;
}

#topup-payment-form .pay-box button[value=Proceed] {
    font-family: "lato bold";
    font-size: 22px;
    padding: 0;
    width: 100%;
    background-color: #058C36;
    border-radius: 10px;
    height: 44px;
    color: #FFF;
    border: 2px solid #B0B0B0;
    position: relative;
}

#topup-payment-form #edit-back-link {
    text-align: right;
}

#topup-payment-form #edit-back-link a {
    color: #058C36;
    text-decoration: underline;
    padding-right: 5px;
}

#edit-order-details label {
    font-family: "lato regular";
    font-size: 18px;
    font-weight: 400;
}

#edit-order-details #order_details {
    font-family: "lato bold";
    font-size: 23px;
    color: #3BA836;
    margin-bottom: 15px;
}
#edit-order-details #order_details  a{
    color: #008D36;
    text-decoration: underline;
	font-family: "lato regular";
	font-size:18px;
}

#edit-order-details #edit-shop-with-conf {
    font-family: "lato bold";
    font-size: 23px;
    color: #3BA836;
  
}

#edit-order-details #edit-secured-by {
    font-family: "lato bold";
    font-size: 23px;
    color: #3BA836;
	position:relative;
   
}
#edit-order-details #edit-secured-by a.visa-c{
    height:45px;
	width:90px;
	display:inline-block;
	position:absolute;
	bottom:0;
	left:0;
   
}
#edit-order-details{margin-bottom:0;}
#edit-order-details #edit-secured-by a.master-c{
   height:45px;
   width:90px;
   display:inline-block;
   position:absolute;
   bottom:0;
   left:90px;
}
#edit-order-details #edit-secured-by img{
   margin-top:10px;
}
.success-msg{
color:#008C35!important;
margin-bottom:15px!important;
}
.success-msg:before{
content:url('../images/success.png');
position:relative;
top:10px;
padding-right:10px;

}
.failed-msg{
color:#F51111!important;
margin-bottom:15px!important;
}
.failed-msg:before{
content:url('../images/fail.png');
position:relative;
top:10px;
padding-right:10px;
}

.status-help {
    display: block;
    background: transparent none repeat scroll 0% 0%;
    padding: 20px 35px;
    border-radius: 30px;
    border: 4px solid #3BA836;
}
.status-help ul {

    display: table;
}
.status-help ul li {
   display: table-row;
   min-height:35px;
}
.status-help ul li  span{
   display: table-cell;
   width: 50%; 
   font-family: "avenirnext regular";
   padding: 8px 12px;
}
.status-help ul li  label{
   display: table-cell;
   width: 50%; 
   font-size:18px;
   padding: 8px 12px 8px 0px;

}



#topup-review-confirm .card-details {
    display: block;
    background: transparent none repeat scroll 0 0;
    padding: 20px 35px;
    border-radius: 30px;
    border: 4px solid #3BA836;
}

#topup-review-confirm .payment-details {
    display: block;
    background: transparent none repeat scroll 0 0;
    padding: 20px 35px;
    border-radius: 30px;
    border: 4px solid #3BA836;
}

#topup-review-confirm .topup-details {
    display: block;
    background: transparent none repeat scroll 0 0;
    padding: 20px 35px;
    border-radius: 30px;
    border: 4px solid #3BA836;
}

#freesim-registration-form .free-sim-details {
    display: block;
    background: transparent none repeat scroll 0 0;
    padding: 20px 35px;
    border-radius: 30px;
    border: 4px solid #3BA836;
    font-family: "lato regular";
    font-size: 18px !important;
}

#edit-freesim-from-delight label {
    font-family: "lato bold";
    font-size: 23px;
    color: #3BA836;
    margin-bottom: 0;
}

#edit-freesim-payg-sim label {
    font-family: "lato bold";
    font-size: 23px;
    color: #3BA836;
}

#edit-freesim-payasyougo label {
    font-family: "lato bold";
    font-size: 23px;
    color: #3BA836;
}

#edit-review-details label {
    font-family: "lato bold";
    font-size: 23px;
    color: #3BA836;
    margin-bottom: 0;
}

#edit-review-card-details label {
    font-family: "lato bold";
    font-size: 23px;
    color: #3BA836;
    margin-bottom: 0;
}

#edit-topup-details label {
    font-family: "lato bold";
    font-size: 23px;
    color: #3BA836;
    margin-bottom: 0;
}

#edit-review-shop-conf label {
    font-family: "lato bold";
    font-size: 23px;
    color: #3BA836;
    margin-bottom: 0;
}

#topup-review-confirm .card-details {
    font-family: "lato regular";
    font-size: 18px;
}

#topup-review-confirm .topup-details {
    font-family: "lato regular";
    font-size: 18px;
}

#topup-review-confirm .card-details #edit-btn-submit.form-submit {
    font-family: "lato bold";
    font-size: 22px;
    padding: 0;
    width: 100%;
    background-color: #058C36;
    border-radius: 10px;
    height: 44px;
    color: #FFF;
    border: 2px solid #B0B0B0;
    position: relative;
}

#edit-review-cancel-link {
    text-align: right;
}

#edit-review-cancel-link a {
    color: red;
    text-decoration: underline;
    padding-right: 5px;
    text-align: right;
}
.smart-roaming-content  ul{
    float: left;
}

#edit-topup-edit a {
    color: #008D36;
    text-decoration: underline;
}

.page-topup-status .block-system strong {
    font-family: "avenirnext regular";
    color: #008D36;
    font-size: 23px;
	display: block;
}

.page-topup-status .block-system {
    font-family: "avenirnext regular" !important;
    font-size: 15px;
    color: #000;
}

.cheap_call_rates_title h1 {
    font-family: "lato bold";
    font-size: 28px;
    color: #008e36;
}

.node-type-cheap-call-rates #dm-title {
    position: absolute;
    top: 300px;
}

#main_country_flag {
    position: relative;
    top: -30px;
}

.rate-table table {
    text-align: center;
}

#cheap-callrates table {
    width: 100% !important;
    border: 0 none;
    border-collapse: separate;
    border-spacing: 20px;
}

#cheap-callrates table td {
    border-bottom: 1px solid #CCC;
    background: #DFDC01 none repeat scroll 0 0;
    font-family: "avenirnext bold";
    font-size: 30px;
    margin: 5px;
    color: #006732;
    padding: 12px 0;
    box-shadow: 0 0 0 1px #85853b;
}

#cheap-callrates table tr:first-child td {
    padding: 8px 0;
    border: 8px solid #E1ECC3;
    box-shadow: 0 0 0 1px #85853b;
    margin-bottom: 12px;
    font-family: "avenirnext medium";
    font-size: 18px;
    color: #fff;
    background: #058c36 none repeat scroll 0 0;
}

#cheap-call-rates-section .rate-table {
    padding: 10px 0;
    background: #E1ECC3 none repeat scroll 0 0;
}

#cheap-callrates {
    font-family: "avenirnext regular";
    font-size: 18px;
}

#cheap-callrates strong {
    font-family: "avenirnext bold" !important;
    color: #008D36 !important;
    font-size: 18px;
    float: left;
}

#cheap-callrates .rate-table strong {
    margin-left: 20px;
}

#cheap-callrates .bg-box {
    padding: 15px;
    background: #f3f2a3 none repeat scroll 0 0;
    font-family: "avenirnext regular";
    margin:0;
}
#cheap-call-rates-section .rate-table {
margin:0 0 20px 0;
}

#supporting_country-section .sub-header {
   // background: #458f6a;
    font-size: 25px;
    font-family: "avenirnext medium";
    padding: 10px 0;
    color: #fff;
}
.section-rate-compare .hr{
background:#09a098;
font-family: "avenirnext Bold";
font-size:18px;
text-align:center;
color:#fff;
padding:2px 0 2px  0;
}.section-rate-compare .hr:after{
content:"";
width:0;
height:0;
border-right: 10px solid transparent;
border-left: 10px solid transparent;
border-top: 10px solid #fff;
border-bottom: 10px solid transparent;
position:relative;
top: 18px;
left: 10px;

}
#delight_sitemap_section .block{
width:50%;
float:left;
padding-right: 15px;
padding-left: 15px;
}


#delight_sitemap_section .dropdown-menu {
    position:relative;
    top: 100%;
    left: 0px;
    z-index: 1000;
    display: block;
    float:none;
    min-width:160px;
   padding:0 0 20px 0;
    margin: 2px 0px 0px;
    font-size: 14px;
    list-style: outside none none;
    background-color: #FFF;
    border: 0;
    border-radius:0;
    box-shadow: none;
    background-clip: padding-box;
}
#delight_sitemap_section .dropdown-menu > li > a {
 font-family: "avenirnext regular";
font-size: 16px;
padding: 3px 16px;
display:table;
}
#delight_sitemap_section .menu  > li > a{
color:#3BA836;
font-family: "avenirnext demibold";
font-size: 18px;
padding-bottom:0;
}
#delight_sitemap_section .menu  > li > a:hover, #delight_sitemap_section .menu  > li > a:focus{
background-color:#fff !important;
}

#delight_sitemap_section .nav .caret {
    border-top-color: #3BA836;
    border-bottom-color: #3BA836;
}
.page-node-8 #content-wrapper .field-type-text-with-summary .field-item p {
    font-family: "avenirnext demibold" !important;
    font-size: 28px !important;
	color:#026633;
	padding-left:30px;
}
#delight_sitemap_section #block-views-delight-mobile-sitemap-block .field-content a{
 font-family: "avenirnext regular";
font-size: 18px;
color:#008C35;
}

#delight_payg_rates_section3_block .button-group a{
font-family: "avenirnext medium";
background:#39b2ad;
color:#fff;
font-size:18px;
padding:4px 35px 4px 35px;
text-align:center;
margin-left:10px;
text-align:center; 
float:right;

}
#delight_payg_rates_section3_block .button-group1 a{
background:#016837;
color:#fff;
font-size:18px;
padding:4px 12px 4px 12px;
float:right;
width:100%;
text-align:center; font-family: "avenirnext medium";


}
#delight_payg_rates_section3_block  p{
width:55%;
float:left;
 font-family: "avenirnext regular";
font-size: 16px;
}
#delight_payg_rates_section3_block .button-group {
width:45%;
float:left;

}
#delight_payg_rates_section3_block table.premium-rates-table{
	width:70%;
	float:left;
	border:0;
	border-spacing:10px;
	border-collapse: separate;
	text-align:center;
}
#delight_payg_rates_section3_block table.premium-rates-table td{
border:0;

}
#delight_payg_rates_section3_block table.premium-rates-table tr:first-child td{
font-family: "avenirnext bold";
font-size:20px;
background:#dcda01;
color:#026633;
}
#delight_payg_rates_section3_block table.premium-rates-table tr:nth-child(2) td{
font-family: "avenirnext medium";
font-size:20px;
background:#edf097;
color:#026633;
padding:6px;
}
#delight_payg_rates_section3_block table.premium-rates-table tr:nth-child(2) td:first-child{
background:transparent;
}
#delight_payg_rates_section3_block table.premium-rates-table tr:first-child  td:first-child{
font-family: "avenirnext medium";
background: #39B2AD none repeat scroll 0% 0%;
color: #FFF;
font-size:20px;
padding: 7px 16px;
text-align: center;

}
#delight_payg_rates_section3_block .button-group1{
	width:19%;
	float:right;
	margin-left:10%;
	margin-top:10px;
	
}
.page-node-17 #delight_payg_rates_section2_block p{
font-size:20px;
font-family: "avenirnext medium";
padding:4px ;
background:#458f6a;
color:#fff;
width: 100%;
float: left;
display: block;
text-align:center;
}
#delight_payg_rates_section2_block .list-inline {
text-align: left;
display: table-row;
width: 100%;
}
#delight_payg_rates_section2_block .list-inline.links  li  {
   display:table-cell;

}

#delight_payg_rates_section2_block .list-inline.links  li a{
font-family: "avenirnext medium";
background:#026938;
color:#fff;
font-size:18px;
padding:4px 16px 4px 16px;
text-align:center;
/* margin-left:5px; */
text-align:center; 
width:100%;
display:block;
}

#delight_payg_rates_section2_block .list-inline.links  li:nth-child(-n+2) a{
font-family: "avenirnext medium";
background:#39b2ad;
color:#fff;
font-size:18px;
padding:4px 16px 4px 16px;
text-align:center;
/* margin-left:5px; */
text-align:center; 
width:100%;
display:block;
}
.list-inline.links{
margin-bottom:30px;
}

.page-node-19 #delight_payg_rates_section1_block{
	
    width: 100%;
    display: block;
    float: left;

}
.page-node-19 #delight_payg_rates_section1_block  h1 {
    color: #006138;
    margin-top: 30px;
	font-size:36px;
}
.page-node-19 #delight_payg_rates_section1_block .form-group{
margin-bottom:20px;
}
.page-node-19 #delight_payg_rates_section1_block .form-group:before {
    content: url('../images/plus-icon.png');
    width: 0;
    height: 0;
    left: 20px;
    top: 5px;
    position: absolute;
}
.page-node-19 #delight_payg_rates_section1_block input {
   width: 545px;
    padding: 5px 30px;
    height: 40px;
    font-size: 18px;
    border: 0 none;
    text-align: left;
    border-radius: 15px;
    font-family: 'myriad pro';
	margin:0 auto;
	display:block;
    text-indent: 100px;
	color:#1c1c1c;
}
.page-node-19 .node-payg .content .field-item strong{
font-family: "avenirnext demibold";
color:#058c36;
font-size:20px;
}
.page-node-19 .node-payg .content .field-item p{
font-family: "avenirnext regular";
color:#058c36;
font-size:20px;
color:#000;
float:left;
}
.page-node-19 .node-payg .list-inline.links li {
    display: table-cell;
 
}

.page-node-19 .node-payg .list-inline.links  li a{
font-family: "avenirnext medium";
background:#026938;
color:#fff;
font-size:18px;
padding:4px 16px 4px 16px;
text-align:center;
/* margin-left:5px; */
text-align:center; 
width:100%;
display:block;
}
.page-node-19 3731
 .list-inline.links  li:nth-child(-n+2) a{
font-family: "avenirnext medium";
background:#39b2ad;
color:#fff;
font-size:18px;
padding:4px 16px 4px 16px;
text-align:center;
/* margin-left:5px; */
text-align:center; 
width:100%;
display:block;
}
.page-node-19 .node-payg .list-inline.links {
margin-bottom: 30px;
float: left;
width: 100%;
display: table;
table-layout: fixed;
}
.page-node-20 .node-payg .list-inline.links  li  {
display:table-cell;

}

.page-node-20 .node-payg .list-inline.links  li a{
font-family: "avenirnext medium";
background:#026938;
color:#fff;
font-size:18px;
padding:4px 16px 4px 16px;
text-align:center;
/* margin-left:5px; */
text-align:center; 
width:100%;
display:block;
}
.page-node-20 .node-payg .list-inline.links  li:nth-child(-n+2) a{
font-family: "avenirnext medium";
background:#39b2ad;
color:#fff;
font-size:18px;
padding:4px 16px 4px 16px;
text-align:center;
/* margin-left:5px; */
text-align:center; 
width:100%;
display:block;
}
.page-node-19 .node-payg .list-inline.links  li:nth-child(-n+2) a{
font-family: "avenirnext medium";
background:#39b2ad;
color:#fff;
font-size:18px;
padding:4px 16px 4px 16px;
text-align:center;
/* margin-left:5px; */
text-align:center; 
width:100%;
display:block;
}
.page-node-20 .node-payg .list-inline.links{
margin-bottom: 30px;
width: 100%;
display:table;
table-layout:fixed;

}
.page-node-20 #delight_payg_rates_section1_block input {
   width: 545px;
    padding: 5px 30px;
    height: 40px;
    font-size: 20px;
    border: 0 none;
    text-align: center;
    border-radius: 15px;
    font-family: 'myriad pro';
	margin:0 auto;
	display:block;
}
.page-node-20 #delight_payg_rates_section1_block  h1 {
    color: #006138;
    margin-top: 30px;
	font-size:36px;
}
.page-node-20 #delight_payg_rates_section1_block .section-rate-compare {
    background: transparent url("../images/bg-search.jpg") no-repeat scroll center center / cover;
    width: 100%;
    display: block;
    text-align: center;
    float: left;
    height: 230px;
}

.page-node-20  #delight_payg_rates_section1_block .form-group{
margin-bottom:20px;
}
.page-node-20 #delight_payg_rates_section1_block .form-group:before {
    content: url('../images/plus-icon.png');
    width: 0;
    height: 0;
    left: 20px;
    top:5px;
    position: absolute;
}
#delight_payg_rates_section1_block form{
position:relative;
display:table;
margin:0 auto;
}
#delight_payg_rates_section1_block form .form-group{
position:relative;

}
.page-node-13 .payg_content_section{
margin:30px 0 30px 0;
}
.page-node-15 .payg_content_section{
margin:30px 0 30px 0;
}
.page-node-19 .payg_content_section{
margin:30px 0 50px 0;
}
.page-node-20 .payg_content_section{
margin:30px 0 50px 0;
}

.page-node-15 #delight_payg_rates_section3_block{
margin:0 0 50px 0;
float: left;
width: 100%;
}
.page-node-13 .payg_content_section  .node-payg{
padding:0 100px 0 100px;
}

.smart-roaming-content {
float: left;
width: 100%;
padding: 0px 50px 20px 50px;
} 
.page-node-17 #delight_payg_rates_section2_block{
margin:0 0 50px 0;
    float: left;
	width:100%;
}
 .page-node-38 .node-bundles strong{
 color: #036733;
 font-family: "lato bold";
font-size: 18px;
 }

 #edit-acceopted-cards ul li img{
 opacity:0.7;
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
 }
  #edit-acceopted-cards ul li.card-active img {
 opacity:1; 
-webkit-filter: grayscale(0%);
filter: grayscale(0%);
 }
 
 #roamingResults {
 display:block;
 float:left;
 width:100%;
 }
 #homepageRate{
  display:block;
 float:left;
 width:100%;
 }
 .page-node-19 #delight_payg_rates_section1_block .section-rate-compare {
    background: transparent url("../images/bg-search.jpg") no-repeat scroll center center / cover;
    width: 100%;
    display: block;
    text-align: center;
    float: left;
    height: 230px;
}
#operator_list ul l.list-inline{
display: table;
width:100%;

}
#operator_list ul li{
background-color: #E4E4E4;
border: 1px solid #D0D0D0;
display: table-cell;
vertical-align:middle;
padding:5px 10px 5px 10px;
width:32%!important;
float:left;	
margin:5px;

}
#myselect{
    display: block;
    width: auto!important;
    height:44px;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 1.42857;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
 #supporting_country-section ul li a{
display:block;
text-align:center;
color:#1c1c1b;
font-family:'lato regular';
margin-top:5px;
}
#supporting_country-section .container ul{text-align:center;}
#supporting_country-section ul li {
    padding: 0px 1.44444%;
	margin-top:10px;
}
#supporting_country-section{
padding-bottom:50px;
}
#operator_list{
width:100%;
}
#delight_payg_rates_section2_block .list-inline > li {
display: table-cell;
text-align:center;
}
#delight_payg_rates_section2_block .list-inline > li:last-child{
padding-right:0px;
}
#delight_payg_rates_section2_block .list-inline > li > a {
display:block;
color:#1e1e1e;
text-align:center;
margin-top: 5px;
}
#delight_payg_rates_section2_block .container .row:nth-of-type(1) .col-md-12{
display:table;
width:100%;
}
#delight_payg_rates_section2_block .list-inline.links{
margin-top:50px;
display:table;
table-layout:fixed;
}
.page-node-98 #content-wrapper .field-type-text-with-summary .field-item {
    font-family: "avenirnext regular";
    font-size: 20px;
    float:none;
	margin-top: 20px;
}
.page-topup-status .block-system {
    font-family: "avenirnext regular" !important;
    font-size: 15px;
    color: #000;
}
 .page-node-19 .node-payg .content .field-item br {
display:block;
margin:10px;
}
#roamingResults .container{
padding:0 65px 0 65px;
}
#roamingResults .header-bar img {
    position: absolute;
    left: 75px;
    top: -22px;
}
.page-node-20 .payg_content_section .field-type-text-with-summary .field-item br {
display:block;
margin:10px;
float: left;
width: 100%;
}
.page-node-54 .node-offers{
width:70%;
margin-left:30%;
}
#offer-wrapper .field-type-text-with-summary .field-item em{
font-family:"avenirnext regular";
font-weight:bold;
}
#delight_payg_rates_section3_block table.premium_mobile {
    width: 100%;
    float: left;
    border: 0px none;
    border-spacing: 10px;
    border-collapse: separate;
    text-align: center;
	table-layout:fixed;
}
#delight_payg_rates_section3_block table.premium_mobile  tr:first-child  th {
    font-family: "avenirnext medium";
background: #39B2AD none repeat scroll 0% 0%;
color: #FFF;
font-size: 20px;
padding: 18px 0px 0 0px !important;
text-align: center;
height: 80px;
vertical-align: top;
box-shadow: 0px -15px 0px 0px #fff inset;
}
#delight_payg_rates_section3_block table.premium_mobile tr:nth-child(2n) td {
    font-family: "avenirnext bold";
    font-size: 20px;
    background: #DCDA01 none repeat scroll 0% 0%;
    color: #026633;
	padding: 15px;
}
#delight_payg_rates_section3_block table.premium_mobile tr:nth-child(2n-1) td {
    font-family: "avenirnext medium";
    font-size: 20px;
    background: #EDF097 none repeat scroll 0% 0%;
    color: #026633;
    padding: 6px;
}
#delight_payg_rates_section3_block table.premium_mobile tr:nth-child(3) td {
    font-family: "avenirnext medium";
    font-size: 20px;
    background: #EDF097 none repeat scroll 0% 0%;
    color: #026633;
   padding: 8px 0 24px 0!important;
box-shadow: 0px -15px 0px 0px #FFF inset;
}
#delight_copyright_section{position:relative;}
.ui-menu .ui-menu-item {
    position: relative;
    margin: 0px;
    cursor: pointer;
    min-height: 0px;
    list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
    padding: 5px 5px 5px 15px!important;
}
.ui-menu .ui-menu-item:hover{
   border-radius:15px!important;
}
.ui-menu {
    list-style: outside none none;
    padding: 10px!important;
    margin: 0px;
    display: block;
    outline: medium none;
	border-radius:10px;
}
